body{
    font-family: 'Arvo', serif;
}

.height{
    min-height:100vh;
}

.title-underline{
    width : 200px;
    height : 10px;
    margin: 0 auto;
    /* background: blue !important; */
}

.height-80{
    min-height:80vh;
}

.about-picture{
    background: url("../image/header.bcg.jpeg")center/cover no-repeat fixed;
    /* background-size: cover;
    background-position : center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}