<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<included scan="true" scanPeriod="2 seconds">

	<!-- 공통 환경변수 설정 -->
	<property name="LOG_FILENAME" value="workarts" />
	<property name="LOG_PATTERN" value="%date{HH:mm:ss.SSS} %-5level: %logger{60} - %msg%n" />
	<property name="LOG_CHARSET" value="UTF-8" />

	<!-- Appenders 설정 -->
	<!-- CONSOLE: 콘솔로 출력 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
			<charset>${LOG_CHARSET}</charset>
		</encoder>
	</appender>

	<!-- FILE: CURRENT 현재 인스턴스 시작부터 로깅 (개발용. 실서버에서는 일자별로깅의 오늘자 로그 조회) -->
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${FILE_LOG_FOLDER}/${LOG_FILENAME}.CURRENT.log</file>
		<append>false</append>
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
			<charset>${LOG_CHARSET}</charset>
		</encoder>
	</appender>

	<!-- ROLLING: 일자별 로깅 (지난파일 압축하여 N개유지) -->
	<appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${FILE_LOG_FOLDER}/${LOG_FILENAME}.%d{yyyyMMdd}.log.zip</fileNamePattern>
			<maxHistory>31</maxHistory>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
		<append>true</append>
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
			<charset>${LOG_CHARSET}</charset>
		</encoder>
	</appender>

	<!-- ROLLING: 일자별 로깅 - WARN LEVEL Threshold (지난파일 압축하여 N개유지) -->
	<appender name="ROLLING_WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${FILE_LOG_FOLDER}/${LOG_FILENAME}.%d{yyyyMMdd}.WARN.log.zip</fileNamePattern>
			<maxHistory>31</maxHistory>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
		<append>true</append>
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
			<charset>${LOG_CHARSET}</charset>
		</encoder>
	</appender>

</included>